.libraryName{
    font-family: Papyrus, monospace;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.login{
    border-radius: 25px;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin-top: 50px;
    margin-left: 280px;
    border: none;
    cursor: pointer;
    width: 150px;
}

body{
    background-image: url(Images/LogInBackgroundPhoto.jpg);
    background-size: cover;
}

.box {
    border-radius: 5px;
    margin: auto;
    margin-top: 80px;
    width: 90%;
    padding: 2%;
    border: 5px solid aliceblue;  
}

/*Inside Box*/

.bookInformation{
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-family: Monaco, monospace;
}

input[type=text]{
    border-radius: 25px;
    width: 300px;
    padding: 14px 20px;
    margin: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.bookDetails{
    text-align: center;
    margin-right: 250px;
    margin-top: 20px;
}

form{
    margin: auto;
    text-align: center;
    width: 40%;
    padding: 2%;
    border: 1px solid #f9e076;
    background-color: #f9e076;
    font-family: Monaco, monospace;
}

/*Navigation Bar*/

ul{
    margin: auto;
    list-style-type: none;
    margin-left: 6%;
    padding: 0;
    background-color: #333;
    font-weight: bold;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    color: #04AA6D;
}

.active{
    text-decoration: underline;
    border-radius: 5px;
    color: white;
    background-color: #04AA6D;
    padding: 20px 28px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.notActive{
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.logOut{
    margin: 8px 0;
    padding: 14px 20px;
    border: none;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    left: 87%;
}









