body{
    background-image: url(Images/LogInBackgroundPhoto.jpg);
    background-size: 1750px, 1950px;  
}

input[type=username], input[type=password] {
    border-radius: 25px;
    text-align: center;
    width: 300px;
    padding: 14px 20px;
    margin: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
  }

.login{
    border-radius: 25px;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 300px;
}
  
button:hover {
    opacity: 0.8;
    color: black;
}

.libraryName{
    font-family: Papyrus, monospace;
    font-size: 75px;
    font-weight: 900;
    text-align: center;
}

.signUp{
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    text-decoration-line: none;
    margin: auto;
}

.signUpButton{
    margin: 2%;
    text-align: center;
}

.box {
    margin: auto;
    margin-top: 2%;
    width: 23%;
    border: 5px solid aliceblue;  
    background-color: aliceblue;
    padding: 2%;
    opacity: .8;
}

.error {
    background: #F2DEDE;
    color: #0c0101;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}


 




  
  